.single-prod {
    padding: 20px;
}

.single-prod img {
    width: 400px;
    border: 1px solid silver;
}

.row {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 20px 0px;
}

.success {
    color: green;
}

.error {
    color: red
}
.prod {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
}

.prod-card {
    display: flex;
    flex-direction: column;
    width: 280px;
    padding: 10px;
    border: 1px solid silver;
    gap: 10px;
}

.prod-card img {
    width: 100%;
    height: 230px;
    border: 1px solid silver;
}